# Environment Configuration\r
PORT=8000\r
ENV=development\r
\r
# Admin Authentication\r
ADMIN_TOKEN=your_admin_token_here\r
\r
# Token Mappings\r
# Token mappings are stored in ../config/token_mappings.json\r
